@model IEnumerable<Database.Class_Passes>
@{
    ViewBag.Title = "OnlineStorePasses";


    // view bag promo list 
    var p = ViewBag.PromoList;
    var Message = "";
    bool hasPromo = false;
    bool isValid = true;
    if (TempData["Message"] != null)
    {
        Message = TempData["Message"].ToString();
    }

}

<h2>Pass Packages</h2>

<h4>Message: @Message</h4>
<br />
<table class="table">


    @foreach (var item in Model)
    {
        
        // check if pass id present in promo list

        // do if so, then display discount 


        <div class="passStore">
            <div class="passContent">
                <div class="floatLeft passTitle" style="padding-top:8px;">
                    <p>
                        @Html.DisplayFor(modelItem => item.Pass_Name) &nbsp;
                        @foreach (var promo in p)
                        {
                            if (item.Pass_Id == promo.Pass_Id && promo.Promo_End > DateTime.Now)
                            {
                                <span style="font-size:15px;color:red;">
                                    @promo.Promo_Desc  
                                    @if (promo.Discount == 0)
                                    {
                                        <span>+ @promo.Num_Classes classes</span>
                                    }
                                    else
                                    {
                                        double per = (double)promo.Discount * 100;
                                        <span>@per% Off </span>
                                    }
                                </span> 
                            }
                        }
                    </p>
                </div>
                <div class="passPurchase floatRight">
                    <div class="floatRight" style="padding-right:25px;">
                        <div class="floatLeft" style="padding-top:8px; padding-right:20px;">
                        @foreach (var promo in p)
                        {
                            if (item.Pass_Id == promo.Pass_Id)
                            {
                                hasPromo = true;
                                
                                if(promo.Num_Classes == 0 && promo.Promo_End > DateTime.Now)
                                {
                                    <span style="text-decoration: line-through;">
                                    @item.Pass_Price.ToString("F")$ 
                                    </span> 
                                    decimal disPrice = item.Pass_Price - (item.Pass_Price * promo.Discount);
                                    <span style="color:red">
                                        &nbsp;@disPrice.ToString("F")$
                                    </span>
                                }
                                else
                                {
                                    isValid = false;
                                }







                            }
                        }
                        @if (hasPromo == false)
                        {
                            @item.Pass_Price.ToString("F")<p>$</p>
                        }
                        else if (isValid == false)
                        {
                            <span>
                            @item.Pass_Price.ToString("F")$ 
                            </span>
                            hasPromo = false;
                            isValid = true;
                        }
                        </div>

                        @Html.ActionLink("Purchase", "Purchase", new { passId = item.Pass_Id }, new { @class = "btn btn-default" })
                        <!--utton type="submit" class="btn btn-default floatRight">Purchase</button> -->
                    </div>
                </div>
            </div>
        </div>



    }

</table>


<!--



    With Promotion variant - todo

        <div class="passStore">
            <div class="passContent">
                <div class="floatLeft passTitle">
                    <p> a Html.DisplayFor(modelItem => item.Pass_Name)</p>
                    <p style="font-size:14px; color:red;">Christmas Promo 20% Off</p>
                </div>
                <div class="passPurchase floatRight">
                    <div class="floatRight" style="padding-right:25px;">
                        <div class="floatLeft" style="padding-top:8px; padding-right:20px;"><strike class="passDiscount">49.99$</strike>  Html.DisplayFor(modelItem => item.Pass_Price)$</div>
                        <button type="submit" class="btn btn-default floatRight">Purchase</button>
                    </div>
                </div>
            </div>
        </div>







        <tr>
        <th>
            Html.DisplayNameFor(model => model.Pass_Id)
        </th>
        <th>
            Html.DisplayNameFor(model => model.Pass_Name)
        </th>
        <th>
            Html.DisplayNameFor(model => model.Pass_Size)
        </th>
        <th>
            Html.DisplayNameFor(model => model.Pass_Price)
        </th>
        <th>
            Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>




        <tr>
            <td>
                Html.DisplayFor(modelItem => item.Pass_Id)
            </td>
            <td>
                Html.DisplayFor(modelItem => item.Pass_Name)
            </td>
            <td>
               Html.DisplayFor(modelItem => item.Pass_Size)
            </td>
            <td>
                Html.DisplayFor(modelItem => item.Pass_Price)
            </td>
            <td>
                Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>

-->
