@model IEnumerable<Database.Class_Passes>
@{
    ViewBag.Title = "OnlineStorePasses";


    // view bag promo list
    var p = ViewBag.PromoList;
    var Message = "";
    bool hasPromo = false;
    bool isValid = false;
    if (TempData["Message"] != null)
    {
        Message = TempData["Message"].ToString();
    }

}

<h2>Pass Packages</h2>

<br />
<table class="table">


    @foreach (var item in Model)
    {
    if (item.Active == true)
        {
        hasPromo = false;
        // check if pass id present in promo list

        // do if so, then display discount


        <div class="passStore">
            <div class="passContent">
                <div class="floatLeft passTitle" style="padding-top:8px;">
                    <p>
                        @Html.DisplayFor(modelItem => item.Pass_Name) &nbsp;
                        @foreach (var promo in p)
                        {
                            if (item.Pass_Id == promo.Pass_Id && promo.Promo_End > DateTime.Now)
                            {
                                <span style="font-size:15px;color:red;">
                                    @promo.Promo_Desc
                                    @if (promo.Discount == 0)
                                    {
                                        <span>+ @promo.Num_Classes classes</span>
                                    }
                                    else
                                    {
                                        double per = (double)promo.Discount * 100;
                                        <span>@per% Off </span>
                                    }
                                </span>
                            }
                        }
                    </p>
                </div>
                <div class="passPurchase floatRight">
                    <div class="floatRight" style="padding-right:25px;">
                        <div class="floatLeft" style="padding-top:8px; padding-right:20px;">
                            @foreach (var promo in p)
                            {
                                if (item.Pass_Id == promo.Pass_Id)
                                {
                                    hasPromo = true;

                                    if (promo.Num_Classes == 0 && promo.Promo_End > DateTime.Now)
                                    {
                                        <span style="text-decoration: line-through;">
                                            @item.Pass_Price.ToString("F")$
                                        </span>
                                        decimal disPrice = item.Pass_Price - (item.Pass_Price * promo.Discount);
                                        <span style="color:red">
                                            &nbsp;@disPrice.ToString("F")$
                                        </span>
                                        isValid = true;
                                    }
  

                                }
                            }
                            @if (hasPromo == false)
                            {
                                <span>
                                    @item.Pass_Price.ToString("F")$
                                </span>
                            }
                            else if (isValid == false)
                            {
                                <span>
                                    @item.Pass_Price.ToString("F")$
                                </span>
                                
                            }
                            @{hasPromo = false;
                            isValid = false;}
                        </div>

                            @Html.ActionLink("Add Pass To Account", "StorePurchase", new { passId = item.Pass_Id, userId = ViewBag.uId }, new { @class = "btn btn-default" })
                        

                    </div>
                </div>
            </div>
        </div>

    }

    }

</table>