@model IEnumerable<YogaStudioHelper.Models.AttendanceDaily>

@{
    ViewBag.Title = "AttendanceDailyList";

    int totalAttended = 0;

    int totalMissed = 0;
}

<style>
    .totalRow {
        font-weight: bold;
    }
</style>


<h2>Attendance Daily Report</h2>

<p>
    @{
        // Html.ActionLink("Create New", "Create")
    }
</p>

<div class="table-responsive">
    <table class="table table-striped" id="AttendanceDailyReportTable">

        <thead class="thead-dark">
            <tr>
                <!--
                <th>
                    Html.DisplayNameFor(model => model.scheduleId)
                </th>
                -->

                <th>
                    Class Name
                </th>
                <th>
                    Start Time
                </th>
                <th>
                    Student Sign Up
                </th>
                <th>
                    Attended
                </th>
                <th>
                    Missed
                </th>
               
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {

                totalAttended += item.attended;
                totalMissed += item.missed;
                <tr>
                    <!--
                    <td>
                        Html.DisplayFor(modelItem => item.scheduleId)
                    </td>
                     -->
                    <td>
                        @Html.DisplayFor(modelItem => item.className)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.startTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SignUp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.attended)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.missed)
                    </td>

                </tr>
            }

        </tbody>

        <tr>
            <td class="totalRow">Total Attended:</td>
            <td>@totalAttended</td>
            <td class="totalRow">Total Missed:</td>
            <td>@totalMissed</td>
        </tr>

    </table>

</div>


<div>
    <br />
    <button id="pdf" class="btn btn-success">Make PDF</button>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>-->
    <script src="~/Scripts/jspdf.min.js"></script>
    <script src="~/Scripts/jspdf.plugin.autotable.min.js"></script>
    <script src="~/Scripts/tableHTMLExport.js"></script>

    <script>

        $("#pdf").on("click", function () {
            $("#AttendanceDailyReportTable").tableHTMLExport({
                type: 'pdf',
                filename: 'AttendanceDailyReport.pdf'
            });
        });

        /*
        function pdf() {
            var doc = new jsPDF();
            doc.text("Hello world", 10, 10);
            doc.save("output.pdf");
        }
        */
    </script>
</div>
