@model IEnumerable<Database.ModelsDB.AttendanceDates>

@{
    ViewBag.Title = "AttendanceDatesList";


    int signUp = 0;

    int totalAttended = 0;

    int totalMissed = 0;
}


<style>
    .totalRow {
        font-weight: bold;
    }
</style>


<h2>Attendance Dates Report</h2>



<div class="table-responsive">
    <table class="table table-striped" id="AttendanceDatesReportTable">


        <thead class="thead-dark">
            <tr>

                <th>
                    Class Name
                </th>
                <th>
                    Student Sign Up
                </th>
                <th>
                    Attended
                </th>
                <th>
                    Missed
                </th>
                
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {

                signUp += item.SignUp;
                totalAttended += item.attended;
                totalMissed += item.missed;


                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.className)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SignUp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.attended)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.missed)
                    </td>

                </tr>
            }

        </tbody>

        <tr>
            <td class="totalRow">Total SignUp: </td>
            <td>@signUp</td>
        </tr>
        <tr>
            <td class="totalRow">Total Attended: </td>
            <td>@totalAttended</td>
        </tr>
        <tr>
            <td class="totalRow">Total Missed:</td>
            <td>@totalMissed</td>
        </tr>


    </table>

</div>


<div>
    <br />
    <button id="pdf" class="btn btn-success">Make PDF</button>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>-->
    <script src="~/Scripts/jspdf.min.js"></script>
    <script src="~/Scripts/jspdf.plugin.autotable.min.js"></script>
    <script src="~/Scripts/tableHTMLExport.js"></script>

    <script>

        $("#pdf").on("click", function () {
            $("#AttendanceDatesReportTable").tableHTMLExport({
                type: 'pdf',
                filename: 'AttendanceDatesReport.pdf'
            });
        });

        /*
        function pdf() {
            var doc = new jsPDF();
            doc.text("Hello world", 10, 10);
            doc.save("output.pdf");
        }
        */
    </script>
</div>

