@model IEnumerable<Database.Class_Log>

@{
    ViewBag.Title = "ClassLogList";
}

<h2>ClassLogList Upcoming ClassLog </h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Class_Log_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Schedule_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.U_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Log_Status)
        </th>
        <th></th>
    </tr>



    <!-- We do  if statement to compare schedule date to sysdate -->


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Class_Log_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.U_Id)
            </td>
            <td>
                <!-- Html.DisplayFor(modelItem => item.Log_Status) -->
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>



<!-- do second foreach table but we compare date lower than today -->



<h2>Pass ClassLog</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Class_Log_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Schedule_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.U_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Log_Status)
        </th>
        <th></th>
    </tr>



    <!-- We do  if statement to compare schedule date to sysdate -->


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Class_Log_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.U_Id)
            </td>
            <td>
                <!-- Html.DisplayFor(modelItem => item.Log_Status) -->
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
