@using System.Xml.Linq;
@model XDocument

@{
    ViewBag.Title = "Availabilities";
      String message;
        if (ViewBag.message != null)
        {
            message = ViewBag.message;
        }
        else
        {
            message = "";
        }
}




<div class="main">
    <div class="cont">
        <h3>Availabilities</h3><br />
        @using (Html.BeginForm())
        {
            <table class="avail">
                <tr>
                    <th></th>
                    <th>Sunday</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                </tr>
                <tr>
                    <th>Start</th>
                    <td>
                        <select name="sundayStart">
                            <option value="N/A" @if (Model.Root.Element("Sunday").Element("Start").Value == "N/A") { @Html.Raw("selected") }>N/A</option>
                            @for (int x = 8; x < 19; x++)
                            {
                                <option value="@x:00" @if (Model.Root.Element("Sunday").Element("Start").Value == x + ":00") { @Html.Raw("selected") }>@x:00</option>
                                <option value="@x:30" @if (Model.Root.Element("Sunday").Element("Start").Value == x + ":30") { @Html.Raw("selected") }>@x:30</option>
                            }

                            <option value="19:00" @if (Model.Root.Element("Sunday").Element("Start").Value == "19:00") { @Html.Raw("selected") }>19:00</option>
                        </select>
                    </td>
                    <td>
                        <select name="mondayStart">
                            <option value="N/A" @if (Model.Root.Element("Monday").Element("Start").Value == "N/A") { @Html.Raw("selected") }>N/A</option>
                            @for (int x = 8; x < 19; x++)
                            {
                                <option value="@x:00" @if (Model.Root.Element("Monday").Element("Start").Value == x + ":00") { @Html.Raw("selected") }>@x:00</option>
                                <option value="@x:30" @if (Model.Root.Element("Monday").Element("Start").Value == x + ":30") { @Html.Raw("selected") }>@x:30</option>
                            }

                            <option value="19:00" @if (Model.Root.Element("Monday").Element("Start").Value == "19:00") { @Html.Raw("selected") }>19:00</option>
                        </select>
                    </td>
                    <td>
                        <select name="tuesdayStart">
                            <option value="N/A" @if (Model.Root.Element("Tuesday").Element("Start").Value == "N/A") { @Html.Raw("selected") }>N/A</option>
                            @for (int x = 8; x < 19; x++)
                            {
                                <option value="@x:00" @if (Model.Root.Element("Tuesday").Element("Start").Value == x + ":00") { @Html.Raw("selected") }>@x:00</option>
                                <option value="@x:30" @if (Model.Root.Element("Tuesday").Element("Start").Value == x + ":30") { @Html.Raw("selected") }>@x:30</option>
                            }

                            <option value="19:00" @if (Model.Root.Element("Tuesday").Element("Start").Value == "19:00") { @Html.Raw("selected") }>19:00</option>
                        </select>
                    </td>
                    <td>
                        <select name="wednesdayStart">
                            <option value="N/A" @if (Model.Root.Element("Wednesday").Element("Start").Value == "N/A") { @Html.Raw("selected") }>N/A</option>
                            @for (int x = 8; x < 19; x++)
                            {
                                <option value="@x:00" @if (Model.Root.Element("Wednesday").Element("Start").Value == x + ":00") { @Html.Raw("selected") }>@x:00</option>
                                <option value="@x:30" @if (Model.Root.Element("Wednesday").Element("Start").Value == x + ":30") { @Html.Raw("selected") }>@x:30</option>
                            }

                            <option value="19:00" @if (Model.Root.Element("Wednesday").Element("Start").Value == "19:00") { @Html.Raw("selected") }>19:00</option>
                        </select>
                    </td>
                    <td>
                        <select name="thursdayStart">
                            <option value="N/A" @if (Model.Root.Element("Thursday").Element("Start").Value == "N/A") { @Html.Raw("selected") }>N/A</option>
                            @for (int x = 8; x < 19; x++)
                            {
                                <option value="@x:00" @if (Model.Root.Element("Thursday").Element("Start").Value == x + ":00") { @Html.Raw("selected") }>@x:00</option>
                                <option value="@x:30" @if (Model.Root.Element("Thursday").Element("Start").Value == x + ":30") { @Html.Raw("selected") }>@x:30</option>
                            }

                            <option value="19:00" @if (Model.Root.Element("Thursday").Element("Start").Value == "19:00") { @Html.Raw("selected") }>19:00</option>
                        </select>
                    </td>
                    <td>
                        <select name="fridayStart">
                            <option value="N/A" @if (Model.Root.Element("Friday").Element("Start").Value == "N/A") { @Html.Raw("selected") }>N/A</option>
                            @for (int x = 8; x < 19; x++)
                            {
                                <option value="@x:00" @if (Model.Root.Element("Friday").Element("Start").Value == x + ":00") { @Html.Raw("selected") }>@x:00</option>
                                <option value="@x:30" @if (Model.Root.Element("Friday").Element("Start").Value == x + ":30") { @Html.Raw("selected") }>@x:30</option>
                            }

                            <option value="19:00" @if (Model.Root.Element("Friday").Element("Start").Value == "19:00") { @Html.Raw("selected") }>19:00</option>
                        </select>
                    </td>
                    <td>
                        <select name="saturdayStart">
                            <option value="N/A" @if (Model.Root.Element("Saturday").Element("Start").Value == "N/A") { @Html.Raw("selected") }>N/A</option>
                            @for (int x = 8; x < 19; x++)
                            {
                                <option value="@x:00" @if (Model.Root.Element("Saturday").Element("Start").Value == x + ":00") { @Html.Raw("selected") }>@x:00</option>
                                <option value="@x:30" @if (Model.Root.Element("Saturday").Element("Start").Value == x + ":30") { @Html.Raw("selected") }>@x:30</option>
                            }

                            <option value="19:00" @if (Model.Root.Element("Saturday").Element("Start").Value == "19:00") { @Html.Raw("selected") }>19:00</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>End</th>
                    <td>
                        <select name="sundayEnd">
                            <option value="N/A" @if (Model.Root.Element("Sunday").Element("End").Value == "N/A") { @Html.Raw("selected") }>N/A</option>
                            @for (int x = 9; x < 20; x++)
                            {
                                <option value="@x:00" @if (Model.Root.Element("Sunday").Element("End").Value == x + ":00") { @Html.Raw("selected") }>@x:00</option>
                                <option value="@x:30" @if (Model.Root.Element("Sunday").Element("End").Value == x + ":30") { @Html.Raw("selected") }>@x:30</option>
                            }

                            <option value="20:00" @if (Model.Root.Element("Sunday").Element("End").Value == "19:00") { @Html.Raw("selected") }>20:00</option>
                        </select>
                    </td>
                    <td>
                        <select name="mondayEnd">
                            <option value="N/A" @if (Model.Root.Element("Monday").Element("End").Value == "N/A") { @Html.Raw("selected") }>N/A</option>
                            @for (int x = 9; x < 20; x++)
                            {
                                <option value="@x:00" @if (Model.Root.Element("Monday").Element("End").Value == x + ":00") { @Html.Raw("selected") }>@x:00</option>
                                <option value="@x:30" @if (Model.Root.Element("Monday").Element("End").Value == x + ":30") { @Html.Raw("selected") }>@x:30</option>
                            }

                            <option value="20:00" @if (Model.Root.Element("Monday").Element("End").Value == "19:00") { @Html.Raw("selected") }>20:00</option>
                        </select>
                    </td>
                    <td>
                        <select name="tuesdayEnd">
                            <option value="N/A" @if (Model.Root.Element("Tuesday").Element("End").Value == "N/A") { @Html.Raw("selected") }>N/A</option>
                            @for (int x = 9; x < 20; x++)
                            {
                                <option value="@x:00" @if (Model.Root.Element("Tuesday").Element("End").Value == x + ":00") { @Html.Raw("selected") }>@x:00</option>
                                <option value="@x:30" @if (Model.Root.Element("Tuesday").Element("End").Value == x + ":30") { @Html.Raw("selected") }>@x:30</option>
                            }

                            <option value="20:00" @if (Model.Root.Element("Tuesday").Element("End").Value == "19:00") { @Html.Raw("selected") }>20:00</option>
                        </select>
                    </td>
                    <td>
                        <select name="wednesdayEnd">
                            <option value="N/A" @if (Model.Root.Element("Wednesday").Element("End").Value == "N/A") { @Html.Raw("selected") }>N/A</option>
                            @for (int x = 9; x < 20; x++)
                            {
                                <option value="@x:00" @if (Model.Root.Element("Wednesday").Element("End").Value == x + ":00") { @Html.Raw("selected") }>@x:00</option>
                                <option value="@x:30" @if (Model.Root.Element("Wednesday").Element("End").Value == x + ":30") { @Html.Raw("selected") }>@x:30</option>
                            }

                            <option value="20:00" @if (Model.Root.Element("Wednesday").Element("End").Value == "19:00") { @Html.Raw("selected") }>20:00</option>
                        </select>
                    </td>
                    <td>
                        <select name="thursdayEnd">
                            <option value="N/A" @if (Model.Root.Element("Thursday").Element("End").Value == "N/A") { @Html.Raw("selected") }>N/A</option>
                            @for (int x = 9; x < 20; x++)
                            {
                                <option value="@x:00" @if (Model.Root.Element("Thursday").Element("End").Value == x + ":00") { @Html.Raw("selected") }>@x:00</option>
                                <option value="@x:30" @if (Model.Root.Element("Thursday").Element("End").Value == x + ":30") { @Html.Raw("selected") }>@x:30</option>
                            }

                            <option value="20:00" @if (Model.Root.Element("Thursday").Element("End").Value == "19:00") { @Html.Raw("selected") }>20:00</option>
                        </select>
                    </td>
                    <td>
                        <select name="fridayEnd">
                            <option value="N/A" @if (Model.Root.Element("Friday").Element("End").Value == "N/A") { @Html.Raw("selected") }>N/A</option>
                            @for (int x = 9; x < 20; x++)
                            {
                                <option value="@x:00" @if (Model.Root.Element("Friday").Element("End").Value == x + ":00") { @Html.Raw("selected") }>@x:00</option>
                                <option value="@x:30" @if (Model.Root.Element("Friday").Element("End").Value == x + ":30") { @Html.Raw("selected") }>@x:30</option>
                            }

                            <option value="20:00" @if (Model.Root.Element("Friday").Element("End").Value == "19:00") { @Html.Raw("selected") }>20:00</option>
                        </select>
                    </td>
                    <td>
                        <select name="saturdayEnd">
                            <option value="N/A" @if (Model.Root.Element("Saturday").Element("End").Value == "N/A") { @Html.Raw("selected") }>N/A</option>
                            @for (int x = 9; x < 20; x++)
                            {
                                <option value="@x:00" @if (Model.Root.Element("Saturday").Element("End").Value == x + ":00") { @Html.Raw("selected") }>@x:00</option>
                                <option value="@x:30" @if (Model.Root.Element("Saturday").Element("End").Value == x + ":30") { @Html.Raw("selected") }>@x:30</option>
                            }

                            <option value="20:00" @if (Model.Root.Element("Saturday").Element("End").Value == "19:00") { @Html.Raw("selected") }>20:00</option>
                        </select>
                    </td>
                </tr>

            </table>
            <br />
            <button type="submit" class="btn btn-default">Submit</button>

        }
        <br />
        <p style="color:red;">@message</p>
    </div>
    
</div>

