@model IEnumerable<Database.Pass_Log>
@using Database;

@{
    ViewBag.Title = "PassLogList";
    DBMaster db = new DBMaster();

    int userId = Int32.Parse(Session["Uid"].ToString());

    var student = db.getUserById(userId);

        if(TempData["position"] == null)
    {
        TempData["position"] = 1;
    }
}

<h2>Passes Purchased</h2>

<div>

    <h4>Available Passes: @student.U_Tokens</h4>
</div>
<div style="height:50px;">

    @using (Html.BeginForm())
    {
        if (TempData["position"] != null && (int)TempData["position"] > 1)
        {
            <input type="hidden" name="position" value="@TempData["position"]"><button style="width:150px;float:left;" name="back" value="back" type="submit" class="btn btn-default">Back</button>
        }
    }
    @using (Html.BeginForm())
    {
        if (TempData["position"] != null && (int)TempData["position"] > 1)
        {
            <input type="hidden" name="position" value="@TempData["position"]">
        }
        int pos = (int)TempData["position"];
        if (Model.Count() == 10)
        {
            <button style="width:150px;" name="next" value="next" type="submit" class="btn btn-default">Next</button>
        }
    }

</div>
    
<table class="classes">
    <tr>
        <th>
            Invoice Number
        </th>
        <th>
            Pass Name
        </th>
        <th>
            Quantity
        </th>
        <th>
            Purchase Price
        </th>
        <th>
            Purchase Date
        </th>
    </tr>

    @foreach (var item in Model)
    {

        var pass = db.getClassPasse(item.Pass_Id);


        <tr>
            <td>
                @item.Invoice_Number
            </td>
            <td>
                @pass.Pass_Name
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Num_Classes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purchase_Price)$
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Purchased)
            </td>
        </tr>
    }

</table>
