@model IEnumerable<Database.Class_Passes>

@{
    ViewBag.Title = "Class Pass List";
}

<h2>Class Passes</h2>
<br />
<p>
    <!--Html.ActionLink("Find Class Pass", "FindClassPass", "ManageStudio")-->
    <br />

    @Html.ActionLink("Create New", "CreateClassPass")
</p>
<table class="classes">
    <tr>
   

        <th>
            Pass Name
        </th>
        <th>
            Pass Size
        </th>
        <th>
            Pass Price
        </th>
       
        <th>
            Active
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.Pass_Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Pass_Size)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Pass_Price)
    </td>
    <td @if (@item.Active == false) { @Html.Raw("style=\"color:red;\"") }>
        @item.Active
    </td>
    <td>
        @Html.ActionLink("Edit", "EditClassPass", new { id = item.Pass_Id }) |                 
        @if (item.Active == true)
        {
            @Html.ActionLink("Archive", "ArchiveRoom", new { id = item.Pass_Id })
        }
        else
        {
            @Html.ActionLink("ReActivate", "ReactivateRoom", new { id = item.Pass_Id })
        }
    </td>
</tr>
}

</table>
