@model IEnumerable<Database.Class>

@{
    ViewBag.Title = "Class List";

    if (TempData["position"] == null)
    {
        TempData["position"] = 1;
    }
}

<br />
<h2>Classes</h2>
<br />
<p>
    @Html.ActionLink("Find Class", "FindClass", "ManageStudio")
    <br />

    @Html.ActionLink("Create New", "CreateClass")
</p>

@using (Html.BeginForm())
{
    if (TempData["position"] != null && (int)TempData["position"] > 1)
    {
        <input type="hidden" name="position" value="@TempData["position"]">
    }
    int pos = (int)TempData["position"];
    if (Model.Count() == 10)
    {
        <button style="width:150px;float:right;" name="next" value="next" type="submit" class="btn btn-default">Next</button>
    }
}
@using (Html.BeginForm())
{
    if (TempData["position"] != null && (int)TempData["position"] > 1)
    {
        <input type="hidden" name="position" value="@TempData["position"]">
        <button style="width:150px;float:right" name="back" value="back" type="submit" class="btn btn-default">Back</button>
    }
}
<table class="classes">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Length
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Class_Name)
            </td>
            <td style="text-align:left;">
                @Html.DisplayFor(modelItem => item.Class_Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class_Length)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditClass", new { id = item.Class_Id })
            </td>
            <td>
                @Html.ActionLink("Archive", "ArchiveClass", new { id = item.Class_Id })
            </td>
        </tr>
    }

</table>
<br />
<br />
<br />
@Html.ActionLink("Back", "Class")
