@model IEnumerable<Database.Class_Passes>

@{
    ViewBag.Title = "ClassPassList2";
}

<h2>Class Passes</h2>

<p>
    @Html.ActionLink("Find Class Pass", "FindClassPass", "ManageStudio")
    <br />

    @Html.ActionLink("Create New", "CreateClassPass")
</p>
<table class="classes">
    <tr>
   
        <th>
            Pass Name
        </th>
        <th>
            Pass Size
        </th>
        <th>
            Pass Price
        </th>
       
        <th>
            Active
        </th>
    </tr>

@foreach (var item in Model) {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.Pass_Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Pass_Size)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Pass_Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Active)
    </td>
    <td>
        @Html.ActionLink("Edit", "EditClassPass", new { id = item.Pass_Id }) |
        <!--Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) | -->
        @Html.ActionLink("Archive", "ArchiveClassPass", new { id = item.Pass_Id })
    </td>
</tr>
}

</table>
