
@using Database
@model YogaStudioHelper.ViewModels.ScheduleViewModel


@{

    //model YogaStudioHelper.ViewModels.ScheduleViewModel
    ViewBag.Title = "EditSchedule";
    DBMaster db = new DBMaster();
    Schedule schedule;

    string message = ViewBag.message;

    if (ViewBag.EditSchedule != null)
    {
        schedule = ViewBag.EditSchedule;

        int id = schedule.Schedule_Id;

        TempData["EditScheduleId"] = id;

    }
    else
    {
        schedule = new Schedule();
        //editClass.U_Email = "";
        //editClass.U_First_Name = "";
    }

}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

<link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>

<div class="centerDiv">
    @using (Html.BeginForm())
    {
        if (message != null)
        {
            @Html.Raw(message)
        }
        <table class="inputTable">
            <tr>
                <td></td>
                <td style="text-align:center;"><h2>Edit Schedule</h2></td>
            </tr>

            <tr>
                <th>Teacher:</th>
                @{
                    if (ViewBag.tid != null)
                    {
                        Model.SelectedTeacherId = ViewBag.tid;
                    }
                }
                <td>
                    <!-- value=" editClassPasses.Pass_Name"
                        maybe not working id sticky to test -->
                    @Html.DropDownListFor(m => m.SelectedTeacherId, new SelectList(Model.Teachers, "U_Id", "U_Last_Name"), new { @id = "classList" })
                </td>
            </tr>

            <tr>
                <th>Class:</th>
                <td>
                    @Html.DropDownListFor(m => m.SelectedClassId, new SelectList(Model.Classes, "Class_Id", "Class_Name"), new { @id = "classList" })


                </td>



            <tr>
                <th>Room:</th>
                <td>
                    @Html.DropDownListFor(m => m.SelectedRoomId, new SelectList(Model.Rooms, "Room_Id", "Room_Name"), new { @id = "classList" })

                </td>
            </tr>

            <tr>

                <th>Time:</th>
                <td class="select">
                    <input type="text" id="picker" name="picker" class="form-control" />

                </td>

                <script>

                    $('#picker').datetimepicker({
                        timepicker: true,
                        datepicker: false,
                        format: 'H:i',
                        value: @if (ViewBag.time != null) {@Html.Raw("'"+ViewBag.time + "'") } else {@Html.Raw("'7:00'") } ,
                        hours12: false,
                        step: 30,
                        allowTimes: [@for (int x = 7; x < 19; x++) { @Html.Raw("'"+x+":00', '"+x+":30',")} @Html.Raw("'19:00'")],
                    })
                </script>
            </tr>
            <tr>
                <th>Date:</th>
                <td><input type="date" class="inputs" name="classDate" id="classDate" value="@schedule.Class_Date.ToString("yyyy-MM-dd")" required /></td>
            </tr>


            <tr>
                <th>Schedule Status:</th>
                <td>

                    <select id="status" name="status">
                        <option value="ACTIVE" @if (db.isScheduleActive(schedule.Schedule_Id)) { @Html.Raw("selected") }>Active</option>
                        <option value="CANCELLED" @if (!db.isScheduleActive(schedule.Schedule_Id)) { @Html.Raw("selected") }>Cancelled</option>

                    </select>
                </td>

            </tr>
            <tr>
                <td></td>
                <td style="text-align:center"><button style="width:150px" type="submit" class="btn btn-default">Save</button></td>
            </tr>
            <tr><td></td></tr>
            <tr>
                <td>
                    @Html.ActionLink("Back", "ScheduleList", "ManageUsers", new { @class = "btn btn-default" })
                </td>
            </tr>
        </table>
    }
</div>




    

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
