
@{
    ViewBag.Title = "ManageStudio";
}

<h2>ManageStudio</h2>
@Html.ActionLink("Find Room", "FindRoom", "ManageStudio")
<br />
@Html.ActionLink("Create Room", "CreateRoom", "ManageStudio")
<br />
@Html.ActionLink("Room List", "RoomList", "ManageStudio")
<br />
<br />

@Html.ActionLink("Find Class", "FindClass", "ManageStudio")
<br />
@Html.ActionLink("Create Class", "CreateClass", "ManageStudio")
<br />
@Html.ActionLink("Class List", "ClassList", "ManageStudio")
<br />
<br />

@Html.ActionLink("Find Class Pass", "FindClassPass", "ManageStudio")
<br />
@Html.ActionLink("Create Class Pass", "CreateClassPass", "ManageStudio")
<br />
@Html.ActionLink("Class Pass List", "ClassPassList2", "ManageStudio")
<br />
<br />

@Html.ActionLink("Find Promotion", "FindPromotion", "ManageStudio")
<br />
@Html.ActionLink("Create Promotion", "CreatePromotion", "ManageStudio")
<br />
@Html.ActionLink("Promotion List", "PromotionList", "ManageStudio")
<br />
<br />


@Html.ActionLink("Find Schedule", "FindSchedule", "ManageStudio")
<br />
@Html.ActionLink("Create Schedule", "CreateSchedule", "ManageStudio")
<br />
@Html.ActionLink("Schedule List", "ScheduleList", "ManageStudio")
<br />
<br />

