
@{
    ViewBag.Title = "ManageStudio";
}

<h2>ManageStudio</h2>
@Html.ActionLink("Find Room", "FindRoom", "ManageUsers")<br />
@Html.ActionLink("Create Room", "CreateRoom", "ManageUsers")<br />
@Html.ActionLink("Room List", "RoomList", "ManageUsers")<br /><br />

@Html.ActionLink("Find Class", "FindClass", "ManageUsers")<br />
@Html.ActionLink("Create Class", "CreateClass", "ManageUsers")<br />
@Html.ActionLink("Class List", "ClassList", "ManageUsers")<br /><br />

@Html.ActionLink("Find Class Pass", "FindClassPass", "ManageUsers")<br />
@Html.ActionLink("Create Class Pass", "CreateClassPass", "ManageUsers")<br />
@Html.ActionLink("Class Pass List", "ClassPassList", "ManageUsers")<br /><br />

@Html.ActionLink("Find Promotion", "FindPromotion", "ManageUsers")<br />
@Html.ActionLink("Create Promotion", "CreatePromotion", "ManageUsers")<br />
@Html.ActionLink("Promotion List", "PromotionList", "ManageUsers")<br /><br />


