@model IEnumerable<Database.Promotion>

@{
    ViewBag.Title = "PromotionList";

    String message = "";
    if (TempData["Message"] != null) {
        message = TempData["Message"].ToString();
    }

    int result = 0;
}

<h2>Promotions</h2>

<p>

    @Html.ActionLink("Find Promotion", "FindPromotion", "ManageStudio")
    <br />

    @Html.ActionLink("Create New", "CreatePromotion")
</p>
<br />
<p>@message</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Promotion_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pass_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Promo_Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Num_Classes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Promo_End)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Promotion_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pass_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Promo_Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Num_Classes)
        </td>
        <td>
          @{
              // check if end date expire
              DateTime test = DateTime.Today;
              DateTime test2 = item.Promo_End;
              //                result = DateTime.CompareTo(item.Promo_End, DateTime.Today);

              //result = item.Promo_End.CompareTo(DateTime.Today);

              result = test2.CompareTo(test);


              if (result > 0)
              {

                    <font color="red">@item.Promo_End</font>

                                 // result = 0;

              }
              else
              {
                    @Html.DisplayFor(modelItem => item.Promo_End)

                  

              }
            }

        </td>
        <td>
            @Html.ActionLink("Edit", "EditPromotion", new {  id=item.Promotion_Id  }) |
           
            @Html.ActionLink("Archive", "ArchivePromotion", new {  id=item.Promotion_Id  })
        </td>
    </tr>
}

</table>
