@model IEnumerable<Database.Promotion>

@{
    ViewBag.Title = "Promotion List";

        if(TempData["position"] == null)
    {
        TempData["position"] = 1;
    }

    String message = "";
    if (TempData["Message"] != null) {
        message = TempData["Message"].ToString();
    }

    int result = 0;
}

<h2>Promotions</h2>
<br>


    @Html.ActionLink("Find Promotion", "FindPromotion", "ManageStudio")
    <br />

    @Html.ActionLink("Create New", "CreatePromotion")

<br />
<p>@message</p>
@if (Model.Count() == 10)
{
<div style="height:50px;">

    @using (Html.BeginForm())
    {
        if (TempData["position"] != null && (int)TempData["position"] > 1)
        {
            <input type="hidden" name="position" value="@TempData["position"]">
        }
        int pos = (int)TempData["position"];
        if (Model.Count() == 10)
        {
            <button style="width:150px;float:right;" name="next" value="next" type="submit" class="btn btn-default">Next</button>
        }
    }
    @using (Html.BeginForm())
    {
        if (TempData["position"] != null && (int)TempData["position"] > 1)
        {
            <input type="hidden" name="position" value="@TempData["position"]"><button style="width:150px;float:right" name="back" value="back" type="submit" class="btn btn-default">Back</button>
        }
    }

</div>
}
<table class="classes">
    <tr>
        <th>
            Pass Name
        </th>
        <th>
            Description
        </th>
        <th>
            Discount
        </th>
        <th>
            Number of classes
        </th>
        <th>
            Promotion End Date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @item.Class_Passes.Pass_Name
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Promo_Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Num_Classes)
        </td>
        <td>
            @{
                // check if end date expire
                DateTime test = DateTime.Today;
                DateTime test2 = item.Promo_End;

                result = test2.CompareTo(test);


                if (result != 1)
                {

                    <font color="red">@item.Promo_End.ToString("MMMM dd, yyyy")</font>

                    // result = 0;

                }
                else
                {
                    @item.Promo_End.ToString("MMMM dd, yyyy")

                }
            }

        </td>
        <td>
            @Html.ActionLink("Edit", "EditPromotion", new {  id=item.Promotion_Id  }) |
           
            @Html.ActionLink("Delete", "ArchivePromotion", new {  id=item.Promotion_Id  })
        </td>
    </tr>
}

</table>
