@model IEnumerable<Database.Promotion>

@{
    ViewBag.Title = "PromotionList";
}

<h2>PromotionList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Promotion_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pass_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Promo_Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Num_Classes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Promo_End)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Promotion_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pass_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Promo_Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Num_Classes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Promo_End)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditPromotion", new {  id=item.Promotion_Id  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.Promotion_Id  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.Promotion_Id  })
        </td>
    </tr>
}

</table>
