@model IEnumerable<Database.Room>

@{
    ViewBag.Title = "Room List";
}
<br />
<h2>Room List</h2>
<br />
<p>
    @Html.ActionLink("Create New", "CreateRoom")
</p>
<table class="classes">
    <tr>
        <th>
            Room Name
        </th>
        <th>
            Capacity
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Room_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room_Capacity)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditRoom", new {id=item.Room_Id }) |
            @Html.ActionLink("Archive", "DeleteRoom", new {  id=item.Room_Id })
        </td>
    </tr>
}

</table>
<br />
<br />
<br />
 @Html.ActionLink("Back", "Room")