@model IEnumerable<Database.Schedule>

@{
    ViewBag.Title = "ScheduleList";
}

<h2>ScheduleList</h2>

<p>
    @Html.ActionLink("Create New", "CreateSchedule")
</p>
<table class="table">
    <tr>
        <!-- 
        <th>
            Html.DisplayNameFor(model => model.Schedule_Id)
        </th>
            --> 
        <th>
            @Html.DisplayNameFor(model => model.Teacher_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Signed_Up)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Group_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Schedule_Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Schedule_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teacher_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Class_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Class_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Signed_Up)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Group_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Schedule_Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditSchedule", new {  id=item.Schedule_Id  }) |

            <!-- Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })--> 
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
