@model IEnumerable<Database.ModelsDB.ScheduleListViewModel>

@{
    ViewBag.Title = "ScheduleList2";
}

<h2>ScheduleList2</h2>

<p>
    @Html.ActionLink("Find Schedule", "FindSchedule", "ManageStudio")
    <br />

    @Html.ActionLink("Create New", "CreateSchedule")
</p>
<table class="table">
    <tr>
        <th>
            Schedule Id
        </th>
        <th>
            Teacher First Name
        </th>
        <th>
            Teacher Last Name
        </th>
        <th>
            Class Name
        </th>
        <th>
            Room Name
        </th>
        <th>
            Start Time
        </th>
        <th>
            Class Date
        </th>
        <th>
            Student Sign Up
        </th>
        <th>
            Group Id
        </th>
        <th>
            Schedule Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Schedule_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.U_First_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.U_Last_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Class_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Class_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Signed_Up)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Group_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Schedule_Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditSchedule", new { id = item.Schedule_Id }) |

            <!-- Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })-->
            @Html.ActionLink("Delete", "ArchiveSchedule", new { id = item.Schedule_Id })
        </td>
    </tr>
}

</table>
