@model IEnumerable<Database.ModelsDB.ScheduleListViewModel>

@{
    ViewBag.Title = "Schedule List";
     if(TempData["position"] == null)
    {
        TempData["position"] = 1;
    }
}

<h2>Schedule List</h2>
<p>
    <!--Html.ActionLink("Find Schedule", "FindSchedule", "ManageStudio")-->
    <br />

    @Html.ActionLink("Create New", "CreateSchedule")
</p>

<div style="height:50px;">

    @using (Html.BeginForm())
    {
        if (TempData["position"] != null && (int)TempData["position"] > 1)
        {
            <input type="hidden" name="position" value="@TempData["position"]">
        }
        int pos = (int)TempData["position"];
        if (Model.Count() == 10)
        {
            <button style="width:150px;float:right;" name="next" value="next" type="submit" class="btn btn-default">Next</button>
        }
    }
    @using (Html.BeginForm())
    {
        if (TempData["position"] != null && (int)TempData["position"] > 1)
        {
            <input type="hidden" name="position" value="@TempData["position"]"><button style="width:150px;float:right" name="back" value="back" type="submit" class="btn btn-default">Back</button>
        }
    }
</div>

<table class="classes">
    <tr>
        <th>
            Class Name
        </th>
        <th>
            Teacher
        </th>
        <th>
            Room Name
        </th>
        <th>
            Start Time
        </th>
        <th>
            Class Date
        </th>
        <th>
            Student Sign Up
        </th>
        <th>
            Schedule Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Class_Name)
    </td>
    <td>
        @item.U_First_Name @item.U_Last_Name
    </td>
    <td>
       @item.Room_Name
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Start_Time)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Class_Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Signed_Up)
    </td>
    
        @if (item.Schedule_Status == "CANCELLED")
        {
            <td style="color:red;">
            @item.Schedule_Status
            </td>
        }
        else
        {
             <td>
            @item.Schedule_Status
            </td>
        }
    
<td>
    @if (item.Class_Date >= DateTime.Now.Date)
    {

        DateTime dt1 = item.Class_Date.AddHours((item.Start_Time.Hours) - 1);
        if (item.Schedule_Status == "ACTIVE" && dt1.Date > DateTime.Now.Date)
        {

            @Html.ActionLink("Edit", "EditSchedule", new { id = item.Schedule_Id })

        }
        else if (item.Start_Time.Hours > DateTime.Now.Hour && dt1 == DateTime.Now.Date)
        {

        }
    }
    <!-- Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })-->
    @{
        DateTime dt2 = item.Class_Date.AddHours((item.Start_Time.Hours) - 1);
        if (item.Schedule_Status == "ACTIVE" && dt2.Date > DateTime.Now.Date)
        {

            @Html.Raw("| ")
            @Html.ActionLink("Cancel", "CancelSchedule", new { id = item.Schedule_Id })

        }
        else if (item.Start_Time.Hours > DateTime.Now.Hour && dt2 == DateTime.Now.Date)
        {

        }

        if (item.Schedule_Status == "CANCELLED" && dt2.Date > DateTime.Now.Date)
        {

            @Html.Raw("| ")
            @Html.ActionLink("Restore", "RestoreSchedule", new { id = item.Schedule_Id })

        }
        else if (item.Start_Time.Hours > DateTime.Now.Hour && dt2 == DateTime.Now.Date)
        {

        }
    }

</td>
</tr>
}

</table>
